{% include "header.html" %}
<div class="album py-5 bg-body-tertiary">
  <h1 class="container">Category</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {% for a in category %}
          <div class="col-md-4"> 
            <a href={% url 'categoryblog' pk=a.id %} class="fa fa-bookmark-o">
          <div class="card card-01 height-fix">
          <img class="card-img-top" src={{a.img.url}} alt="Card image cap" height="450" >
          <div class="card-img-overlay">
            <h4 class="card-title"><strong>{{a.title}}</strong></h4>
            <p class="card-text">{{a.description}}</p>
            <p class="card-text"></p>
          </div>
        </div>
        </a>
      </div>
       {% endfor %}
    </div>
  </div>
</div>

{% include "footer.html" %}